* {
    margin: 0;
    padding: 0;
    transition: all 0.35s ease-in-out;
    box-sizing: border-box;
}
.player-container {
    
    margin: 5px;
}
.player-container img {
    display: block;
    width: 45%;
    margin: 5px auto;
}
.player-info {
    text-align: center;
    background-color: aqua;
}
.player-footer {
    border: none;
    background: none;
}